<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ text }}
<form action="/found_result/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    相册说明：<input type="text" name="title"><br>
    channle:<input type="text" name="channel"><br>
    <input type="file" name="img"><br>
    图片是横向还是纵向：
    <input type="radio" name="HS" value="1" checked="checked">横向
    <input type="radio" name="HS" value="2" checked="checked">纵向<br>
    <input type="submit" value="创建">
</form>
</body>
</html>