<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
body {
background-image:url("/static/images/bg.jpg");
no-repeat center center fixed;
background-size: contain;
height:650px;
}
form {
background-image:url("/static/images/login.png");
width:368px;
height:381px;
margin-top:255px;
margin-left:750px;
}
.divinform{
padding-top:300px;
}
</style>
</head>
<body>
<form action="/add_validate/" method="POST" style="text-align:center;">
	<div class="divinform">
	{{ text }}
    {% csrf_token %}
  <p>请输入口令: <input type="text" name="answer"></p>
  <input type="submit" value="提交">
	<a href="/">查看相册</a>
		</div>
</form>
</body>
</html>