<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
<title>Polaroid Photo Viewer with jQuery and CSS3</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
</head>
<body>
<div class="polaroid">
	<img src="/static/images/damo.jpg" alt="Colloseum" />
	<p>{{ catalog.title }}<br>
		<a href="/found/">创建</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/edit_logout/">注销</a>
	</p>
</div>

{% for catalog in photo_catalog %}
	<div class="polaroid">
	<img src="/static/images/{{ catalog.photo_url }}" alt="Colloseum" />
	<p>{{ catalog.title }}<br>
		<a href="/to_edit_catalog/?catalog_id={{ catalog.id }}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/delete_catalog/?catalog_id={{ catalog.id }}">删除</a>
	</p>
</div>
{% endfor %}
</div>
</body>
</html>